/* --- Global Colors --- */
/* #region */
html {
  /* Color variables. */
  --color-primary: #53b853;
  --color-primary-hover: #e2f3e2;
  --color-secondary: #c1c7c1;

  --color-stroke-form: #454745;
  --color-fill-form: #ffffff;
  --color-error-form: #e63e38;

  --color-addition: #35e04c;
  --color-deletion: #d83c3c;

  --color-empty: #aaaaaa;
  --color-null: #ff6666;

  /* Size variables. */
  --rounded-size: 0.2rem;

  /* Speed variables. */
  --transition-delay: 0.1s;
}
/* #endregion */

.nav-link > * {
  color: #404040;
  text-decoration: none;
}
.nav-link > *:hover {
  color: #222222;
  text-decoration: none;
}

/* --- Common Buttons --- */
/* #region */
.icon-button {
  display: inline-block;
  min-width: 1rem;
  text-align: center;
  cursor: pointer;
}
.icon-button.disabled {
  color: var(--color-secondary);
  cursor: default;
}
/* #endregion */

/* --- Reboot --- */
/* #region */
* {
  font-family: "Source Sans Pro", sans-serif;
}

label {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0rem;
}

::selection {
  background-color: var(--color-primary);
}
::-moz-selection {
  background-color: var(--color-primary);
}
/* #endregion */

a {
  color: #409c40;
}
a:hover {
  color: #1d751d;
}

.relative {
  position: relative;
}

.push-ne {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 0.9em;
}
.push-nw {
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  font-size: 0.9em;
}
.push-se {
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  font-size: 0.9em;
}
.push-se {
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  font-size: 0.9em;
}

.merge-top {
  margin-top: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}
.merge-right {
  margin-right: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.merge-bottom {
  margin-bottom: 0rem !important;
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.merge-left {
  margin-left: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.button {
  display: inline-block;
  margin: auto 0rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background: none;
}
.button-block {
  display: block;
  width: 100%;
}
.button:focus {
  outline: none;
}
