.api-request {
    padding: 1rem;
}

.api-response {
    max-height: 24rem;
    overflow-y: auto;
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(26, 29, 32);
    color: rgb(184, 215, 230);
}