.BlockButton {
  /* Remove some default styling to buttons. */
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-offset);

  /* Give a decent amount of padding internally. */
  padding: 0.5rem;
}

/* These are colorations of status colors. */
.BlockButton.notify {
  background-color: var(--color-notify);
  color: var(--color-stroke-dark);
}
.BlockButton.info {
  background-color: var(--color-info);
  color: var(--color-stroke-dark);
}
.BlockButton.warning {
  background-color: var(--color-warning);
  color: var(--color-stroke-dark);
}
.BlockButton.error {
  background-color: var(--color-error);
  color: var(--color-stroke-dark);
}
.BlockButton.muted {
  background-color: var(--color-muted);
  color: var(--color-stroke-dark);
}

/* These are colorations of brand colors. */
.BlockButton.primary {
  background-color: var(--color-fill-primary);
  color: var(--color-stroke-primary);
}
.BlockButton.secondary {
  background-color: var(--color-fill-secondary);
  color: var(--color-stroke-secondary);
}
