.ButtonGroup {
  display: flex;
  flex-direction: row;
}

.ButtonGroup > * {
  flex-grow: 1;
  margin: 0rem;
}
.ButtonGroup:not(.connected) > *:not(:last-child) {
  margin: 0rem 0.5rem 0rem 0rem;
}

.ButtonGroup.connected > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ButtonGroup.connected > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
