/* #region Icon Button */
.icon-button {
  /* TODO: Clean this up. */

  /* Icon buttons are round buttons that surround text. */
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;

  /* Remove some default styling to buttons. */
  text-align: center;
  display: inline-block;
  outline: none;
  border: none;

  /* We give some spacing to the button. */
  margin: 0rem 0.25rem;

  /* Make the button appear to pop out of the page slightly. */
  background-color: var(--color-fill-element);
  color: var(--color-stroke-lowlight);
  box-shadow: var(--shadow-offset);
}
/* #endregion */

/* #region Block Button */
.block-button {
  /* Remove some default styling to buttons. */
  outline: none;
  border: none;
  border-radius: var(--border-radius);

  /* Give a decent amount of padding internally. */
  padding: 0.5rem;
}
.block-button.primary {
  background-color: var(--color-primary);
  color: var(--color-primary-stroke);
}
.block-button.primary:disabled {
  background-color: var(--color-primary-disabled);
  cursor: not-allowed;
}
.block-button.secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-stroke);
}
.block-button.secondary:disabled {
  background-color: var(--color-secondary-disabled);
  cursor: not-allowed;
}
/* #endregion */
