.tab-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tab-bar {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  width: 100%;
  background-color: var(--color-fill-element);
  color: var(--color-stroke-lowlight);
}
.tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tab-close {
  margin: 0rem 0rem 0rem 0.5rem;
}
.tab-close:hover {
  color: #ad1414;
}

.tab-bar-button {
  padding: 0.25rem 0.5rem;
  border-top: 2px solid transparent;
  cursor: pointer;
}
.tab-bar-button.status-none {
  border-top: none;
}
.tab-bar-button.status-modified {
  border-color: #e0b72e;
}
.tab-bar-button.status-unmodified {
  border-color: #838382;
}
.tab-bar-button.status-error {
  border-color: #fa4949;
}
.tab-bar-button.active {
  background-color: var(--color-fill-body);
}
