.page {
  margin-top: -1rem;
  padding: 0 !important;
}

.toolbar {
  padding: 0rem 0.5rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}
.toolbar .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.sidebar {
  padding: 1rem;
  background-color: #eee;
  border-left: 1px solid #ddd;
}
