/* Padding */
.text.padded-center {
  margin: 0.5rem 0rem;
}
.text.padded-top {
  margin: 1rem 0rem 0rem 0rem;
}
.text.padded-bottom {
  margin: 0rem 0rem 1rem 0rem;
}

/* Text sizes */
.text.size-small {
  font-size: var(--font-small);
}
.text.size-normal {
  font-size: var(--font-normal);
}
.text.size-medium {
  font-size: var(--font-medium);
}
.text.size-large {
  font-size: var(--font-large);
}
.text.size-title {
  font-size: var(--font-title);
}

/* Text colors */
.text.color-normal {
  color: var(--color-stroke-normal);
}
.text.color-muted {
  color: var(--color-stroke-muted);
}
.text.color-info {
  color: var(--color-stroke-info);
}
.text.color-warning {
  color: var(--color-stroke-warning);
}
.text.color-error {
  color: var(--color-stroke-error);
}

/* Text alignment */
.text.align-left {
  text-align: left;
}
.text.align-right {
  text-align: right;
}
.text.align-center {
  text-align: center;
}
