/* Restyle the list items to display like a file browser. */
.DatasetListView-DatasetItem {
  cursor: pointer;
  /* TODO: Check these ellipses are working. */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.DatasetListView-DatasetItem-Icon {
  flex-shrink: 0;
}

/* Apply colors to the dataset items based on their state. */
.DatasetListView-DatasetItem:hover {
  background-color: var(--color-primary-hover);
}
.DatasetListView-DatasetItem.selected {
  background-color: var(--color-primary-select);
}

/* Remove extra styling from renaming textbox. */
.DatasetListView-DatasetItem-Input {
  padding: 0rem;
  font-size: 1em;
  height: unset;
}
