/* Make the mode button appear interactive. */
.VisualizerSelectionView-Mode {
  cursor: pointer;
}
.VisualizerSelectionView-Mode:hover {
  color: var(--color-primary);
}

/* Style the property/vertex list. */
.VisualizerSelectionView-List {
  padding-top: 1rem;
}

.VisualizerSelectionView-IndentList {
  margin-left: 0.7em;
  padding-left: 0.5em;
  border-left: 1px solid var(--color-stroke-hairline);
  color: var(--color-stroke-lowlight);
}
