/* Defines how to apply theming and globals to basic UI elements. */

/* The body should use the basic colors for foreground and background. */
body {
  color: var(--color-stroke);
  background-color: var(--color-fill-body);
  font-family: "Source Sans Pro", sans-serif;
}
hr {
  border: none;
  border-top: 1px solid var(--color-stroke-faint);
  opacity: 0.5;
}

/* Selections should be based on the primary color. */
::selection {
  background-color: var(--color-primary-hover);
}
::-moz-selection {
  background-color: var(--color-primary-hover);
}

/* Vertically normalizes text environments. */
.normal-text {
  display: inline-flex;
  align-items: center;
}
