/* Defines some global constants accessible throughout all elements. */
html {
  /* Font constants */
  --font-small: 0.8rem;
  --font-normal: 1rem;

  /* Radius constants */
  --border-radius: 4px;

  /* Shadow constants */
  --shadow-size: 4px;
  --shadow: 0px 0px var(--shadow-size) 1px rgba(0, 0, 0, 0.1);
  --shadow-offset: 1px 2px var(--shadow-size) 1px rgba(0, 0, 0, 0.1);
}
