.tile {
  /* We initialize the grid position and dimension variables. */
  --grid-x: 0;
  --grid-y: 0;
  --grid-width: 0;
  --grid-height: 0;
  z-index: 1;

  /* We make the tile offset slightly to align with the grid. */
  transform: translate(-0.5px, -0.5px);

  /* We use the variable `--grid-size` to define the size of the grid. */
  position: absolute;
  left: calc(var(--grid-x) * var(--grid-scale));
  top: calc(var(--grid-y) * var(--grid-scale));
  width: calc(var(--grid-width) * var(--grid-scale));
  height: calc(var(--grid-height) * var(--grid-scale));
}
.tile:hover {
  /* This is a simple hack to make sure that tooltips on tiles are on top. */
  z-index: 5;
}

.handle {
  cursor: pointer;
  user-select: none;
}
