.dropdown {
  font-size: 0.85rem;
}
.dropdown-item {
  padding: 0rem 1rem;
  font-size: 0.9rem;
}

hr.divider {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown-item .shortcut {
  margin-left: 1rem;
  color: #888;
}