/* Apply basic styling to make the view container stretch. */
.View-Container {
  position: relative;
  display: flex;
  flex: 1;

  background-color: var(--color-fill-body);
}
.View-Container-Internal {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Allow for some padding to be applied to the container. */
.View-Container.padded .View-Container-Internal {
  padding: 1rem;
}

/* Adjust the direction of the content and scrolling. */
.View-Container.vertical {
  flex-direction: column;
}
.View-Container.vertical .View-Container-Internal {
  overflow-x: hidden;
  overflow-y: auto;
}
.View-Container.horizontal {
  flex-direction: row;
}
.View-Container.horizontal .View-Container-Internal {
  overflow-x: auto;
  overflow-y: hidden;
}
