.jumbotron {
  /*
    We need the jumbotron to be relatively positioned so it may have an
    absolutely positioned backdrop.
  */
  position: relative;
}
.jumbotron-backdrop {
  /* Position the backdrop underneath any other jumbotron content. */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.jumbotron-content {
  /*
    We give jumbotron content an adequate amount of space
    and center and emphasize text inside it.
  */
  padding: 6rem 20%;
  font-size: 1.4rem;
  text-align: center;

  /*
    We apply a layer of blurred overlay and some vignetting to pull the content
    out above the backdrop.
  */
  backdrop-filter: blur(2px);
  background-color: var(--color-fill-overlay);
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}
