.property-item {
  display: flex;
  font-size: 0.9em;
}
.property-item.clickable {
  cursor: pointer;
}
.property-item.selected {
  border-color: rgba(64, 128, 0, 0.4);
  background-color: rgba(128, 255, 0, 0.2);
}

.property-item * {
  margin: 0;
}
.property-item-name {
  margin-right: 0.75rem;
  color: rgb(0, 133, 138);
}
.property-item-occurrences {
  text-align: right;
  flex-grow: 1;
}
.property-item-occurrences,
.property-item-occurrences a {
  color: #888;
}
.property-expand {
  cursor: pointer;
}
.property-expand:hover {
  color: rgb(60, 112, 114);
}

.indented {
  padding-left: 1rem;
  border-left: 1px solid #ccc;
}