.property {
  display: flex;
  font-size: 0.9em;
}
.property.clickable {
  cursor: pointer;
}
.property.selected {
  border-color: rgba(64, 128, 0, 0.4);
  background-color: rgba(128, 255, 0, 0.2);
}

.property * {
  margin: 0;
}
.property-name {
  margin-right: 0.75rem;
  color: rgb(0, 133, 138);
}
.property-occurrences {
  text-align: right;
  flex-grow: 1;
}
.property-occurrences,
.property-occurrences a {
  color: #888;
}
.property-expand {
  cursor: pointer;
}
.property-expand:hover {
  color: rgb(60, 112, 114);
}
