.property {
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  display: flex;

  font-size: 0.9em;

  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.property * {
  margin: 0;
}
.property-name {
  margin-right: 0.75rem;
  font-weight: bold;
}
.property-value {
  flex-grow: 1;
}
.property-type {
  margin-right: -0.5em;
  margin-top: -0.5em;
  font-size: 0.75em;
}
