/* The header of the view. */
.header {
  align-items: center;
  padding: 0.5rem 0.5rem 0rem;
}
.headerButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.headerButton:hover {
  /* Make the button lighter on hover. */
  opacity: 0.8;
}

/* Information displayed when an error occurs in the view. */
.info {
  margin: 0rem 0.5rem;
}

.input {
  width: unset;
  flex-grow: 1;
}

/* An item in the list of operations. */
.item {
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.itemBody {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.item:hover {
  background-color: var(--color-primary-hover);
}
.item.selected {
  background-color: var(--color-primary-select);
}
.item.deleted {
  pointer-events: none;
  opacity: 0.5;
}
.itemButton {
  display: flex;
  align-items: center;
}
