.relative {
  position: relative;
}

.push-ne {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 0.9em;
}
.push-nw {
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  font-size: 0.9em;
}
.push-se {
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  font-size: 0.9em;
}
.push-se {
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  font-size: 0.9em;
}

.merge-top {
  margin-top: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}
.merge-right {
  margin-right: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.merge-bottom {
  margin-bottom: 0rem !important;
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.merge-left {
  margin-left: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.hover-light {
  color: #f8f8f8;
}
.hover-light:hover {
  cursor: pointer;
  color: #a8f8a8;
}
.hover-dark {
  color: #181818;
}
.hover-dark:hover {
  cursor: pointer;
  color: #002200;
}

.button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background: none;
}
.button-block {
  display: block;
  width: 100%;
}
.button:focus {
  outline: none;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.bg-action {
  background-color: #53b853;
  color: rgba(0, 0, 0, 0.8);
}
.bg-action:hover {
  background-color: #6bcc6b;
}